---
import { Hero } from "components/Hero";
import { About } from "features/about/About";
import { Projects } from "features/work/Projects";
import "global.css";
import Layout from "layouts/Layout.astro";
---

<Layout title="Ikraam | Software Engineer">
  <main >
    <Hero  client:only/>
    <About client:only/>
    <Projects client:only/>
  </main>
</Layout>
