---
import Layout from "../layouts/Layout.astro";
import { About } from "../components/About";
import "../global.css";
---

<Layout title="Ikraam">
  <main class="">
    <About />
  </main>
</Layout>
