---
import Hero from "components/hero-section.astro";
import Projects from "components/projects.astro";
import "global.css";
import Layout from "layouts/main-layout.astro";
---

<Layout title="Ikraam | Software Engineer">
  <main>
    <Hero />
    <Projects />
  </main>
</Layout>
