---
import { About2 } from "features/about/About2";
import "global.css";
import Layout from "layouts/Layout.astro";
---

<Layout title="Ikraam">
  <main class="">
    <About2 client:only/>
  </main>
</Layout>
