---
import Github from "components/icons/github.astro";
import LinkedIn from "components/icons/linkedin.astro";
import X from "components/icons/x.astro";
import ProjectItem from "components/project-item.astro";
import { projects } from "data/projects-data";
import "global.css";
import Layout from "layouts/main-layout.astro";
---

<Layout title="Ikraam | Software Engineer">
  <section
    aria-label="Introduction"
    class="mx-auto relative max-w-2xl px-4 pt-16 pb-16 text-[17px] flex flex-col gap-6"
  >
    <h1 class="text-4xl leading-tight tracking-tight">
      From concept to production, thoughtfully built
    </h1>
    <p>
      I've spent years building full-stack applications for hundreds of
      thousands of users. My approach is simple: understand the problem, write
      maintainable code, and ship products that perform. TypeScript, React.js,
      Next.js are just tools. What matters is creating something valuable.
      <b class="text-highlight font-semibold">Impactful.</b>
    </p>
    <p>
      Let's build something exceptional. <a
        href="/portfolio/contact"
        class="underline hover:opacity-80 transition-opacity decoration-1 underline-offset-[2.5px]"
        >Reach out</a
      > or check out my social links below.
    </p>
    <div class="flex items-center gap-4 justify-between w-full">
      <div class="flex gap-6 items-center" aria-label="Contact">
        <a
          href="https://github.com/ikraamdaanis"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
        >
          <Github class="size-5 text-white" aria-hidden="true" />
        </a>
        <a
          href="https://x.com/ikraamdev"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="X"
        >
          <X class="size-4 text-white" aria-hidden="true" />
        </a>
        <a
          href="https://linkedin.com/in/ikraamdaanis"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          class="hover:text-[#0967C2] transition relative group"
        >
          <span
            class="absolute inset-0 z-[-1] bg-transparent rounded-sm group-hover:bg-white transition-colors"
          ></span>
          <LinkedIn class="size-5 z-10" aria-hidden="true" />
        </a>
      </div>
      <a
        href="https://cal.com/ikraam"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button
          class="bg-black/90 hover:brightness-110 transition px-2 cursor-pointer py-1 rounded-md text-sm"
          style="color: white;"
          >Book a call
        </button>
      </a>
    </div>
  </section>
  <section aria-label="Projects" class="mx-auto max-w-2xl px-4 pb-24">
    <h2 class="mb-8 text-2xl">Projects</h2>
    <div class="flex flex-col gap-12">
      {
        projects.map((project, index) => (
          <ProjectItem project={project} isFirst={index === 0} />
        ))
      }
    </div>
  </section>
</Layout>
