---
import Cal from "components/icons/cal.astro";
import Github from "components/icons/github.astro";
import LinkedIn from "components/icons/linkedin.astro";
import X from "components/icons/x.astro";
---

<footer class="mt-auto">
  <div class="mx-auto max-w-2xl px-4 py-8">
    <div
      class="flex flex-col gap-6 sm:flex-row sm:items-center sm:justify-between"
    >
      <div class="text-sm">© 2025 ikraam daanis. All rights reserved.</div>
      <div class="flex items-center gap-6" aria-label="Contact">
        <a
          href="https://github.com/ikraamdaanis"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
        >
          <Github class="size-5" aria-hidden="true" />
        </a>
        <a
          href="https://x.com/ikraamdaanis"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="X"
        >
          <X class="size-4" aria-hidden="true" />
        </a>
        <a
          href="https://linkedin.com/in/ikraamdaanis"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
        >
          <LinkedIn class="size-5" aria-hidden="true" />
        </a>
        <a
          href="https://cal.com/ikraam"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Book a call"
        >
          <Cal class="size-7" aria-hidden="true" />
        </a>
      </div>
    </div>
  </div>
</footer>
