---
---

<section class="mx-auto max-w-2xl px-4 pt-24 pb-16">
  <h1 class="mb-8 text-2xl font-medium text-neutral-900 dark:text-neutral-100">
    Ikraam Daanis
  </h1>
  <div class="text-[17px] flex flex-col gap-4">
    <p >
      I'm a Software Engineer from London, UK. I'm currently working as a
      developer for a small startup. Coding is my passion, and I absolutely
      love what I do. Every day, I get to tackle new challenges and create
      impactful products that make a difference.
    </p>
    <p >
      After a few years in the industry, I've built several full-stack
      applications used by hundreds of thousands of customers. I enjoy
      building web apps that are impactful and valuable to our customers.
      These days I focus a lot on writing clean code that's easy to maintain
      and making sure everything performs well.
    </p>
    <p >
      I love working with other developers and sharing what I know. The tech
      world keeps changing and that's what makes it exciting - there's
      always something new to learn and better ways to solve problems. When
      I build something, I make sure it's done right, with perfection.
    </p>
  </div>
</section>

