---
const currentPage = Astro.url.pathname;
---

<nav
  class="bg-brand/80 fixed top-0 right-0 left-0 z-50 border-b border-transparent backdrop-blur-xs"
  transition:name="navbar"
  transition:animate="none"
>
  <div class="mx-auto max-w-2xl p-4">
    <div class="flex items-center justify-end gap-4 text-sm sm:gap-6">
      <a
        href="/"
        data-astro-prefetch
        class:list={[
          "relative transition-opacity select-none hover:opacity-100 hover:brightness-110",
          currentPage === "/"
            ? "after:bg-highlight opacity-100 after:absolute after:right-0 after:bottom-[-4px] after:left-0 after:h-[1px]"
            : "opacity-60"
        ]}
      >
        home
      </a>
      <a
        href="/about"
        data-astro-prefetch
        class:list={[
          "relative transition-opacity select-none hover:opacity-100 hover:brightness-110",
          currentPage.includes("/about")
            ? "after:bg-highlight opacity-100 after:absolute after:right-0 after:bottom-[-4px] after:left-0 after:h-[1px]"
            : "opacity-60"
        ]}
      >
        about
      </a>
      <a
        href="/contact"
        data-astro-prefetch
        class:list={[
          "relative transition-opacity select-none hover:opacity-100 hover:brightness-110",
          currentPage.includes("/contact")
            ? "after:bg-highlight opacity-100 after:absolute after:right-0 after:bottom-[-4px] after:left-0 after:h-[1px]"
            : "opacity-60"
        ]}
      >
        contact
      </a>
    </div>
  </div>
</nav>
