---
const currentPage = Astro.url.pathname;
---

<nav
  class="fixed left-0 right-0 top-0 z-50 backdrop-blur-xs bg-brand/80 border-b border-transparent"
  transition:name="navbar"
  transition:animate="none"
>
  <div class="mx-auto max-w-2xl p-4">
    <div class="flex items-center justify-between">
      <a href="/" class="text-xl tracking-tight" data-astro-prefetch>
        ikraam
      </a>
      <div class="flex items-center gap-6 text-sm">
        <a
          href="/"
          data-astro-prefetch
          class:list={[
            "relative transition-opacity opacity-60 hover:opacity-100 hover:brightness-110 select-none",
            currentPage === "/" && "opacity-100 pointer-events-none"
          ]}
        >
          home
        </a>
        <a
          href="/about"
          data-astro-prefetch
          class:list={[
            "relative transition-opacity opacity-60 hover:opacity-100 hover:brightness-110 select-none",
            currentPage === "/about" && "opacity-100 pointer-events-none"
          ]}
        >
          about
        </a>
        <a
          href="/contact"
          data-astro-prefetch
          class:list={[
            "relative transition-opacity opacity-60 hover:opacity-100 hover:brightness-110 select-none",
            currentPage === "/contact" && "opacity-100 pointer-events-none"
          ]}
        >
          contact
        </a>
      </div>
    </div>
  </div>
</nav>
