---
import ProjectItem from "components/project-item.astro";
import { projects } from "data/projects-data";
---

<section aria-label="Projects" class="mx-auto max-w-2xl px-4 pb-24">
  <h2 class="mb-8 text-2xl font-medium text-neutral-900 dark:text-neutral-100">
    Projects
  </h2>
  <div class="flex flex-col gap-12">
    {
      projects.map((project, index) => (
        <ProjectItem project={project} isFirst={index === 0} />
      ))
    }
  </div>
</section>
