---
import type { HTMLAttributes } from "astro/types";
import type { SimpleIcon } from "simple-icons";

type Props = HTMLAttributes<"svg"> & {
  icon: SimpleIcon;
};

const { icon, class: className = "size-4", ...rest } = Astro.props;
---

<svg
  role="img"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  fill="currentColor"
  class={className}
  {...rest}
>
  <title>{icon.title}</title>
  <path d={icon.path}></path>
</svg>
