---
import type { SimpleIcon } from "simple-icons";

interface Props {
  icon: SimpleIcon;
  class?: string;
}

const { icon, class: className = "size-4" } = Astro.props;
---

<svg
  role="img"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  fill="currentColor"
  class={className}
>
  <title>{icon.title}</title>
  <path d={icon.path}></path>
</svg>

