@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@source "../**/*.{js,ts,jsx,tsx}";

@theme {
  /* --color-brand: #faf9f5; */
  --color-brand: hsl(0 0% 9.5%);
  /* --color-text-color: #171717; */
  --color-text-color: #faf9f5;
  --color-text-white: #eeeeee;
  --color-highlight: #dd6160;

  --font-family: "STIX Two Text", sans-serif;
  --font-corinthia: "Corinthia", cursive;
  --font-geist: "Geist", sans-serif;
  --font-playfair-display: "Playfair Display", serif;

  --text-text-size: 17px;
}

html {
  scrollbar-gutter: stable;
  font-family: var(--font-geist);
}

*::-moz-selection {
  color: var(--color-text-white);
  background: var(--color-highlight);
  -webkit-text-fill-color: var(--color-text-white);
}

*::selection {
  color: var(--color-text-white);
  background: var(--color-highlight);
  -webkit-text-fill-color: var(--color-text-white);
}

::view-transition-old(root) {
  animation: fadeSlideDown 200ms ease-out;
}

::view-transition-new(root) {
  animation: fadeSlideUp 250ms ease-out;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}
