@keyframes moveRight {
  0% {
    object-position: left;
  }
  99% {
    object-position: right;
  }
  100% {
    object-position: right;
  }
}

.animate-moveRight {
  animation: moveRight 5s ease-in-out infinite alternate;
  animation-delay: -2s;
}
