@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@source "../**/*.{js,ts,jsx,tsx}";

@theme {
  /* --color-brand: #faf9f5; */
  --color-brand: hsl(0 0% 7%);
  /* --color-text-color: #171717; */
  --color-text-color: #faf9f5;
  --color-text-white: #eeeeee;
  --color-highlight: #dd6160;
  --color-brand-top: #df6969;
  --color-brand-bottom: #d84847;

  --font-geist: "Geist", sans-serif;

  --text-text-size: 17px;
}

html {
  scrollbar-gutter: stable;
  font-family: var(--font-geist);
}

*::-moz-selection {
  color: var(--color-text-white);
  background: var(--color-highlight);
  -webkit-text-fill-color: var(--color-text-white);
}

*::selection {
  color: var(--color-text-white);
  background: var(--color-highlight);
  -webkit-text-fill-color: var(--color-text-white);
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-old(root) {
    animation: fadeSlideDown 150ms ease-out;
  }

  ::view-transition-new(root) {
    animation: fadeSlideUp 150ms ease-out;
  }
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}
